#maze table {
    border-collapse: collapse;
    font-size: var(--font-size-default);
}

#maze td {
    padding: 0;
    position: relative;

    width: 3ch;
    height: calc(3 * var(--line-height-default));
    overflow: hidden;
}

#maze div {
    font-size: calc(4.5 * var(--font-size-default));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#maze span.outside {
    color: rgb(255, 255, 255)
}

#maze span.wall {
    color: rgb(255, 255, 255)
}

#maze span.inside-visible {
    color: rgb(0, 0, 0)
}

#maze span.inside-invisible {
    /* font-size: var(--font-size-default); */
    color: rgb(255, 255, 255)
}

#maze span.connection {
    /* font-size: var(--font-size-default); */
    color: rgb(255, 255, 255)
}

#maze span.player {
    font-size: calc(4 * var(--font-size-emoji))
}

#maze span.robot {
    font-size: calc(4 * var(--font-size-emoji))
}