#maze table {
    border-collapse: collapse;
    font-size: var(--font-size-default);
}

#maze td {
    padding: 0;
    position: relative;

    width: 1ch;
    height: var(--line-height-default);
    overflow: hidden;
}

#maze div {
    font-size: calc(1 * var(--font-size-default));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}