input.codeinput {
    width: 5ch;
}

input.inputbox {
    background-color: var(--background-color-inputbox);
}

/* .heading {
    color: var(--heading-color);
    background-color: var(--heading-highlight-color);
} */

.hidden {
    display: none !important;
}

.error {
    color: var(--error-color)
}

.win {
    color: var(--win-color)
}