#editorArea {
    display: block;
    background-color: #000000;
    height: 100%;
}

#codeEditor {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    font-family: monospace;
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
    color: #fff;
}

#runButton {
    z-index: 10;
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
    cursor: pointer;
}

#outputArea {
    height: 100%;
    color: #fff;
    padding: 10px;
    font-family: monospace;
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
    overflow-y: auto;
    white-space: pre-wrap;
    box-sizing: border-box;
    background-color: var(--background-color-inputbox);
}

.container {
    display: flex;
}
