#editorArea {
    display: block;
    background-color: #000000;
}
#codeEditorContainer {
    position: relative;
    overflow: visible;
    width: 100%;
}
#codeEditor, #highlighted {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: none;
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
    line-height: var(--line-height-default);
    resize: none;
    tab-size: var(--tab-size-default);
    background: transparent;
    overflow: hidden;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-top: var(--line-height-default);
    padding-bottom: var(--line-height-default);
    min-height: calc(5 * var(--line-height-default));
}
code[class*="language-"], pre[class*="language-"] { /*overrides the style */
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
    line-height: var(--line-height-default) !important;
    overflow-wrap: anywhere !important;
    white-space: pre-wrap !important;
    box-sizing: border-box !important;
}

pre[class*="language-"] > code[class*="language-"] {
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
    line-height: var(--line-height-default) !important;
    margin: 0 !important;
    padding: 0 !important;
    display: block !important;
    width: 100% !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    border: none !important;
    background: transparent !important;
    transform: translateY(0) !important;
}

#highlighted {
    z-index: 0;
    background-color: var(--background-color-inputbox);
    border-radius: 0;
    outline: none;
    pointer-events: none;
}
#codeEditor {
    z-index: 1;
    color: transparent;
    background-color: transparent;
    caret-color: white;
    overflow: hidden;
}

.output {
    color: #fff;
    padding: 10px;
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
    overflow-y: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    box-sizing: border-box;
    background-color: var(--background-color-inputbox);
    min-height: var(--line-height-default);
    padding-left: 1ch;
    padding-right: 1ch;
    padding-top: var(--line-height-default);
    padding-bottom: var(--line-height-default);
    tab-size: var(--tab-size-default);
}