.flowFree table {
    border-collapse: collapse;
    font-size: calc(3 * var(--font-size-default));
}

.flowFree td:hover {
    background-color: var(--highlight-color-highlighted);
}

.flowFree td {
    padding: 0;
    position: relative;
    width: 1ch;
    height: calc(3 * var(--line-height-default));
    overflow: hidden;
}

.flowFree .cb0 {
    background-color: black;
}

.flowFree .cb1 {
    background-color: var(--background-color-checker);
}

.flowFree div.emoji {
    font-size: calc(3 * var(--font-size-emoji));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.flowFree div.not-emoji {
    font-size: calc(4 * var(--font-size-default)); /* 4 instead of 3 to remove gaps */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flowFree .c0 { color: red; }
.flowFree .c1 { color: rgb(0, 255, 0); }
.flowFree .c2 { color: blue; }
.flowFree .c3 { color: cyan; }
.flowFree .c4 { color: magenta; }
.flowFree .c5 { color: yellow; }
.flowFree .c6 { color: orange; }
