#FlowFree table {
    border-collapse: collapse;
    font-size: calc(3 * var(--font-size-default));
}

#FlowFree td:hover {
    background-color: var(--highlight-color-highlighted);
}

#FlowFree td {
    padding: 0;
    position: relative;

    width: 1ch;
    height: calc(3 * var(--line-height-default));
    overflow: hidden;
}

#FlowFree .cb0 {
    background-color: black;
}

#FlowFree .cb1 {
    background-color: var(--background-color-checker)
}

#FlowFree div.emoji {
    font-size: calc(3 * var(--font-size-emoji));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#FlowFree div.not-emoji {
    font-size: calc(4 * var(--font-size-default)); /*4 instead of 3 to remove gaps */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#FlowFree .c0 {
    color: red;
}

#FlowFree .c1 {
    color: rgb(0, 255, 0);
}

#FlowFree .c2 {
    color: blue;
}

#FlowFree .c3 {
    color: cyan;
}

#FlowFree .c4 {
    color: magenta;
}

#FlowFree .c5 {
    color: yellow;
}

#FlowFree .c6 {
    color: orange;
}