@font-face {
    font-family: ConsolasLoaded;
    src: url(consolas.ttf);
}

@font-face {
    font-family: NotoSansMonoLoaded;
    src: url(NotoSansMono-Regular.ttf);
}

@font-face {
    font-family: SegoeUIEmojiLoaded;
    src: url(seguiemj-1.45-3d.ttf)
}

:root {
    --background-color-default: black;
    --background-color-inputbox: rgb(55, 55, 55);
    --background-color-checker: rgb(40, 40, 40);
    --text-color-default: white;
    --text-color-highlighted: black;
    --text-color-placeholder: rgb(223, 223, 223);
    --highlight-color-default: black;
    --highlight-color-highlighted: white;
    --button-color-default: black;
    --button-color-highlighted: black;
    --button-color-clicked: white;
    --button-highlight-color-default: white;
    --button-highlight-color-highlighted: rgb(127, 127, 127);
    --button-highlight-color-clicked: black;
    --button-color-default-important: black;
    --button-color-highlighted-important: black;
    --button-color-clicked-important: orange;
    --button-highlight-color-default-important: orange;
    --button-highlight-color-highlighted-important: rgb(127, 82, 0);
    --button-highlight-color-clicked-important: black;
    --heading-color: black;
    --heading-highlight-color: white;
    --not-important-color: gray;
    --error-color: red;
    --win-color: rgb(0, 255, 0);
    --font-size-default: calc(min(max(10px, 100vh/40/1.1), 30px));
    --font-size-emoji: calc(7/20 * var(--font-size-default));
    --font-family-default: "ConsolasLoaded", "NotoSansMonoLoaded", "SegoeUIEmojiLoaded", monospace;
    --font-weight-default: normal;
    --line-height-default: 1.1rem;
    --tab-size-default: 4;
    font-size: var(--font-size-default);
}

body {
    background-color: var(--background-color-default);
    color: var(--text-color-default);
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
    font-weight: var(--font-weight-default);
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    overflow-y: scroll;
    line-height: var(--line-height-default);
    height: 100%;
}

html {
    height: 100%;
}

p {
    padding: 0;
    margin: 0;
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
}

pre {
    padding: 0;
    margin: 0;
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
}

div {
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
    padding: 0;
    margin: 0;
    color: var(--heading-color);
    background-color: var(--heading-highlight-color);
}

input,
textarea {
    background-color: var(--background-color-inputbox);
    color: var(--text-color-default);
    border: 0;
    outline: none;
    font-size: var(--font-size-default);
    margin: 0;
    padding: 0;
    font-family: var(--font-family-default);
    height: var(--line-height-default);
    resize: none;
}

div {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
}

span {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
}

button {
    background-color: var(--button-highlight-color-default);
    color: var(--button-color-default);
    border: 0;
    outline: none;
    font-size: var(--font-size-default);
    margin: 0;
    padding: 0;
    font-family: var(--font-family-default);
    height: var(--line-height-default);
}

button:hover,
button.toggled:hover {
    background-color: var(--button-highlight-color-highlighted);
}

button.toggled {
    color: var(--button-color-clicked);
    background-color: var(--button-highlight-color-clicked);
}

button:active {
    color: var(--button-color-clicked);
    background-color: var(--button-highlight-color-clicked);
}

button.importantButton {
    background-color: var(--button-highlight-color-default-important);
    color: var(--button-color-default-important);
}

button.importantButton:hover {
    background-color: var(--button-highlight-color-highlighted-important);
}

button.importantButton:active {
    color: var(--button-color-clicked-important);
    background-color: var(--button-highlight-color-clicked-important);
}

input::placeholder {
    color: var(--text-color-placeholder);
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.flex-table-holder-holder {
    display: flex;
    align-items: flex-start;
}

.flex-table-holder {
    flex-shrink: 0;
}

.hidden {
    display: none;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

/* .container {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
} */

input.codeinput {
    width: 5ch;
}

input.inputbox {
    background-color: var(--background-color-inputbox);
}

.hidden {
    display: none !important;
}

.error {
    color: var(--error-color)
}

.win {
    color: var(--win-color)
}