:root {
    --background-color-default: black;
    --text-color-default: white;
    --text-color-highlighted: black;
    --highlight-color-default: black;
    --highlight-color-highlighted: white;
    --button-color-default: black;
    --button-color-highlighted: white;
    --button-highlight-color-default: white;
    --button-highlight-color-highlighted: black;
    --not-important-color: gray;
    --font-size-default: 20px;
    --font-size-emoji: 7px;
    --font-family-default: monospace;
    --line-height-default: 1.3rem;
}


body {
    background-color: var(--background-color-default);
    color: var(--text-color-default);
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: var(--line-height-default);
}

p {
    padding: 0;
    margin: 0;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}
