:root {
    --background-color-default: black;
    --text-color-default: white;
    --text-color-highlighted: black;
    --highlight-color-default: black;
    --highlight-color-highlighted: white;
    --button-color-default: black;
    --button-color-highlighted: white;
    --button-highlight-color-default: white;
    --button-highlight-color-highlighted: black;
    --not-important-color: gray;
    --font-size-default: 20px;
    --font-size-emoji: 7px;
    --font-family-default: monospace;
}


body {
    background-color: var(--background-color-default);
    color: var(--text-color-default);
    font-size: var(--font-size-default);
    font-family: var(--font-size-default);
    line-height: 100%;
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#NetWalk table {
    border-collapse: collapse;
    font-size: calc(4 * var(--font-size-default));
}

#NetWalk td:hover {
    background-color: var(--highlight-color-highlighted);
}

#NetWalk td {
    padding: 0;
    position: relative;
    line-height: 1;

    width: 1ch;
    height: 1em;
}

#NetWalk div.emoji {
    font-size: calc(4 * var(--font-size-emoji));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#NetWalk div.not-emoji {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#NetWalk div.gray {
    color: var(--not-important-color);
}

#NetWalk div.blue {
    color: lightblue;
    font-family: var(--font-family-default);
}

#netwalkContainer {
    display: none;
}

#terminalContainer {
    display: none;
}

#terminalBox {
    background-color: var(--background-color-default);
    color: var(--text-color-default);
    border: 0;
    outline: none;
    font-size: var(--font-size-default);
    margin: 0;
    padding: 0;
    font-family: var(--font-family-default);
}

.cyaHeading {
    color: var(--button-color-default);;
    background-color: var(--button-highlight-color-default);
}

.cyaContent {
    display: none;
}

.cyaButton:hover {
    background-color: var(--button-highlight-color-highlighted);
    color: var(--button-color-highlighted);
}

.cyaButton {
    background-color: var(--button-highlight-color-default);
    color: var(--button-color-default);
    display: inline;
}